.logo {
    padding-top: 100px;
    padding-bottom: 450px;
    text-align: center;
}

body {
    background-image: url(background.jpeg);
}

a {
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    height: 44px;
    line-height: 44px;
    text-align: center;
}

.menu {
      margin: 0 auto 0 auto;
      padding: 0;
      width: 700px;
      display: flex;
      align-items: flex-end;
      list-style: none;
      justify-content: space-around;
      background-color: rgba(48, 48, 48, 0.5);
      border-radius: 10px;

  }


.menu li:hover {
      background-color: rgba(140, 141, 147, 0.5);
      border-radius: 4px;
  }

@media screen and (max-width: 991px) {

.logo {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
}


body {
    background-image: url(mobileBg.JPEG);
    background-size: 100% auto;
}

a {
    text-decoration: none;
    color: white;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}

  .menu {
      padding: 0;
      margin: 0 auto 50px auto;
      width: 200px;
      height: 350px;
      display: flex;
      align-items: center;
      flex-direction: column;
      list-style: none;
      background-color: rgba(48, 48, 48, 0.5);
      border-radius: 10px;


  }


  .menu li:hover {
      background-color: rgba(140, 141, 147, 0.5);
      border-radius: 4px;
  }
}
